altgraph
appdirs
asgiref
bson
dataclasses
distlib
dj-database-url
Django
django-betterforms
django-ckeditor
django-crispy-forms
django-heroku
django-js-asset
django-mapbox-location-field
djongo
dnspython
filelock
freegames
future
importlib-metadata
numpy
pefile
Pillow
psycopg2
pyinstaller
pyinstaller-hooks-contrib
pymongo
python-dateutil
pytz
pywin32-ctypes
six
sqlparse
typing-extensions
virtualenv
virtualenvwrapper-win
whitenoise
zipp
