{% extends 'base/base2.html' %}
{% block title %}Dashboard{% endblock title %}
{% block breadcrumb %}Dashboard{% endblock breadcrumb %}
{% block content %}
{% load static %}

<div class="head-title">
  <div class="left">
      <h1>Dashboard</h1>
      <ul class="breadcrumb">
          <li>
              <a href="#">Dashboard</a>
          </li>
          <li><i class='bx bx-chevron-right'></i></li>
          <li>
              <a class="active" href="#">Home</a>
          </li>
      </ul>
  </div>
  <a href="#" class="btn-download">
      <i class='bx bxs-cloud-download'></i>
      <span class="text">Download PDF</span>
  </a>
</div>

<ul class="box-info">
  <li><a href="{% url 'event-category-list' %}" style="color: inherit;" class="small-box-footer">
      <i class='bx bxs-calendar-check'></i>
      <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          {% if event_ctg %}
            <h3>{{ event_ctg }}</h3>
          {% else %}
            <h3>0</h3>
          {% endif %}

          <p>Category</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
      </a>
      
    </div>
  </li>

  <li>
    <a href="{% url 'event-list' %}" style="color: inherit;" class="small-box-footer">
      <i class='bx bxs-group'></i>
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            {% if event %}
              <h3>{{ event }}</h3>
            {% else %}
              <h3>0</h3>
            {% endif %}
  
            <p>Events</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
         
        </div>
      </a>
      </div>
    
  </li>
  
  <li>
    <a href="{% url 'join-event-list' %}" style="color: inherit;">
      <i class='bx bxs-group'></i>
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            {% if user %}
              <h3>{{ user }}</h3>
            {% else %}
              <h3>0</h3>
            {% endif %}
  
            <p>Participants</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          
        </div>
      </a>
      </div>
    
  </li>
  <li>
    <a href="{% url 'complete-event' %}" class="small-box-footer" style="color: inherit;">
      <i class='bx bxs-group'></i>
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          {% if complete_event %}
            <h3>{{ complete_event }}</h3>
          {% else %}
          <h3>0</h3>
          {% endif %}

          <p>Completed Event</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        
      </div>
    </a>
    </div>
</li>
</ul>
  
  <!-- Event List -->
  <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-5">
                        <h5>Event List</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                  <table class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="border-collapse: collapse !important">
                    <thead>
                        <tr role="row">
                            <th>#</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Venue</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                          <tr>
                              <td>{{ forloop.counter }}</td>
                              <td>{{ event.name|capfirst }}</td>
                              <td>{{ event.category }}</td>
                              <td>{{ event.start_date }}</td>
                              <td>{{ event.end_date }}</td>
                              <td>{{ event.venue|capfirst }}</td>
                              <td>
                                  {% if event.status == 'active' %}
                                    <a href="{% url 'update-event-status' event.id %}" class="text-success">{{ event.status|title }}</a>
                                  {% elif event.status == 'completed' %}
                                    <a href="{% url 'update-event-status' event.id %}" class="text-primary">{{ event.status|title }}</a>
                                  {% else %}
                                    <a href="{% url 'update-event-status' event.id %}" class="text-danger">{{ event.status|title }}</a>
                                  {% endif %}
                              </td>
                              <td>
                                  <a class="btn btn-info" href="{% url 'event-detail' event.pk %}" title="view">
                                      <i class="fa fa-eye"></i>
                                  </a>
                                  <a class="btn btn-info" href="{% url 'event-edit' event.pk %}" title="edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                                  <a class="btn btn-danger" href="{% url 'event-delete' event.pk %}" title="delete">
                                      <i class="fa fa-trash"></i>
                                  </a>
                              </td>
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}