{% extends 'base/base2.html' %}

{% block title %}Create Event Category{% endblock title %}
{% block breadcrumb %}Create Event Category{% endblock breadcrumb %}
{% load crispy_forms_tags %}

{% block content %}
<div class="head-title">
    <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
                <a class="active" href="/events/event_catogery/">Event catogery</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
                <a class="active" href="#">Create event catogery</a>
            </li>
        </ul>
    </div>
   
  </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-10">
                            <h5>Create Event Category</h5>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-success" href="{% url 'event-category-list' %}">Category List</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy  }}
                        <button class="btn btn-success ml-2" type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}